<article>
  <header>
    <h2> <%= t 'product_models' %> </h2>
  </header>
  <main>
    <% if @product_models.any? %>
      <% @product_models.each do |product| %>
        <table>
          <thead>
            <tr>
              <th> <%= ProductModel.human_attribute_name 'name' %>
              <th> <%= ProductModel.human_attribute_name 'sku' %>
              <th> <%= ProductModel.human_attribute_name 'supplier' %>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> <%= link_to product.name, product_model_path(product.id) %> &nbsp;&nbsp;&nbsp;&nbsp; </td>
              <td> <%= product.sku %> &nbsp;&nbsp;&nbsp;&nbsp; </td>
              <td> <%= link_to product.supplier.brand_name, supplier_path(product.supplier_id) %>
            </tr>
          </tbody>
        </table>
      <% end %>
    <% else %>
      <%= t 'no_product_models_registered' %>
    <% end %>
  </main>
  <footer>
    <ul>
      <li> <%= link_to "#{ t 'new'} #{ t 'activerecord.models.product_model' }", new_product_model_path %> </li>
    </ul>
  </footer>
 </article>