<article>
  <header>
    <h1> Galpões & Estoque </h1>
  </header>

  <main>
    <section>
      <% @warehouses.each do |wh| %>
        <h3> <%= link_to "#{wh.name}", warehouse_path(wh.id) %> </h3>
        <dl>
          <dt> Código: </dt>
          <dd> <%= wh.code %> </dd>
          <dt> Área: </dt>
          <dd> <%= wh.area %> metros quadrados </dd>
          <dt> Cidade: </dt> 
          <dd> <%= wh.city %> </dd>
        </dl>
      <% end %>
    </section>
  </main>

  <footer>
    <ul>
      <li> <%= link_to 'New Warehouse', new_warehouse_path %> </li>
    </ul>
  </footer>
</article>