<article>
  <main>
    <p>
      <h2> <%= Supplier.human_attribute_name 'corporate_name' %>: <%= @supplier.corporate_name %> </h2>
    </p>
    <dl>
      <p>
        <dt> <%= Supplier.human_attribute_name 'brand_name' %>: </dt>
        <dd> <%= @supplier.brand_name %> </dd>
      </p>
      <p>
        <dt> <%= Supplier.human_attribute_name 'registration_number' %>: </dt>
        <dd> <%= @supplier.formatted_registration_number %> </dd>
      </p>
      <p>
        <dt> <%= Supplier.human_attribute_name 'full_address' %>: </dt>
        <dd> <%= @supplier.full_address %>. <%= @supplier.city %> - <%= @supplier.state %> </dd>
      </p>
      <p>
        <dt> <%= Supplier.human_attribute_name 'email' %>: </dt>
        <dd> <%= @supplier.email %> </dd>
      </p>
      <p>
        <dt> <%= Supplier.human_attribute_name 'phone_number' %> </dt>
        <dd> <%= @supplier.formatted_phone_number %>
      </p>
    </dl>
    <section>
      <% if @supplier.product_models.any? %>
        <h3> <%= t 'product_models' %> </h3>
        <% @supplier.product_models.each do |pm| %>
          <h4> <%= link_to pm.name, product_model_path(pm.id) %> </h4>
          <dl>
            <p>
              <dt> <%= ProductModel.human_attribute_name 'sku' %>: </dt>
              <dd> <%= pm.sku %> </dd>
            </p>
          </dl>
        <% end %>
      <% else %>
        <p> <%= t 'supplier_dont_have_product_models' %>
      <% end %>
    </section>
  </main>
  <footer>
    <ul>
      <li> <%= link_to "#{ t 'buttons.edit'} #{ t 'activerecord.models.supplier' }", edit_supplier_path %> </li>
    </ul>
  </footer>
</article>