<article>
  <header>
    <%= link_to t('buttons.home'), root_path %> 
    <p> <%= "#{t('information_from')} #{t('activerecord.models.warehouse')}" %> </p>
  </header>

  <main>
      <h3> <%= @warehouse.name %> </h3>
      <dl>
        <dt> <%= t('activerecord.attributes.warehouse.code') %>: </dt>
        <dd> <%= @warehouse.code %> </dd>

        <dt> <%= t('activerecord.attributes.warehouse.area') %>: </dt> 
        <dd> <%= @warehouse.area %> <%= t('square_meters') %> </dd>

        <dt> <%= t('activerecord.attributes.warehouse.city') %>: </dt>
        <dd> <%= @warehouse.city %> </dd>

        <dt> <%= t('activerecord.attributes.warehouse.address') %>: </dt>
        <dd> <%= @warehouse.address %> </dd>

        <dt> <%= t('activerecord.attributes.warehouse.zip_code') %>: </dt>
        <dd> <%= @warehouse.zip_code %> </dd>

        <p> <%= @warehouse.description %> </p>
      </dl>
  </main>
</article>