<article>
  <header>
    <%= link_to 'Início', root_path %> 
    <p> Informações do Galpão: </p>
  </header>

  <main>
      <h3> <%= @wh.name %> </h3>
      <dl>
        <dt> Código: </dt>
        <dd> <%= @wh.code %> </dd>

        <dt> Área: </dt> 
        <dd> <%= @wh.area %> metros quadrados </dd>

        <dt> Cidade: </dt>
        <dd> <%= @wh.city %> </dd>

        <dt> Endereço: </dt>
        <dd> <%= @wh.address %> </dd>

        <dt> CEP: </dt>
        <dd> <%= @wh.zip_code %> </dd>

        <p> <%= @wh.description %> </p>
      </dl>
  </main>
</article>