<article>
  <header>
    <%= link_to 'Início', root_path %> 
    <p> Informações do Galpão: </p>
  </header>

  <main>
      <h3> <%= @warehouse.name %> </h3>
      <dl>
        <dt> Código: </dt>
        <dd> <%= @warehouse.code %> </dd>

        <dt> Área: </dt> 
        <dd> <%= @warehouse.area %> metros quadrados </dd>

        <dt> Cidade: </dt>
        <dd> <%= @warehouse.city %> </dd>

        <dt> Endereço: </dt>
        <dd> <%= @warehouse.address %> </dd>

        <dt> CEP: </dt>
        <dd> <%= @warehouse.zip_code %> </dd>

        <p> <%= @warehouse.description %> </p>
      </dl>
  </main>
</article>