<article>
  <header> 
    <p> <%= "#{ t 'information_from' } #{ t 'activerecord.models.warehouse' }" %> </p>
  </header>

  <main>
      <h3> <%= @warehouse.name %> </h3>
      <dl>
        <dt> <%= Warehouse.human_attribute_name 'code' %>: </dt>
        <dd> <%= @warehouse.code %> </dd>

        <dt> <%= Warehouse.human_attribute_name 'area' %>: </dt> 
        <dd> <%= @warehouse.area %> <%= t 'square_meters'  %> </dd>

        <dt> <%= Warehouse.human_attribute_name 'city' %>: </dt>
        <dd> <%= @warehouse.city %> </dd>

        <dt> <%= Warehouse.human_attribute_name 'address' %>: </dt>
        <dd> <%= @warehouse.address %> </dd>

        <dt> <%= Warehouse.human_attribute_name 'zip_code' %>: </dt>
        <dd> <%= @warehouse.formatted_zip_code %> </dd>

        <p> <%= @warehouse.description %> </p>
      </dl>
  </main>
  <footer>
    <ul>
      <li> <%= link_to t('buttons.edit'), edit_warehouse_path %> <li>
      <li> <%= button_to t('buttons.delete'), warehouse_path(@warehouse.id), method: :delete %> </li>
    </ul>
  </footer>
</article>