<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <h1> <%= "#{ t 'warehouses_and_stock' }" %> </h1>
      <nav>
        <%= link_to t('buttons.home'), root_path %> |
        <%= link_to t('suppliers'), suppliers_path %> |
        <%= link_to t('product_models'), product_models_path %>
      </nav>
      <section>
        <%= alert %>
        <%= notice %>
      </section>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
